doctype html
html(lang="en")
  head
    title= 'Crimes in Seattle Today'
    script(src="http://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js")
    link(href="http://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css", rel="stylesheet", type="text/css")
    link(href="http://fonts.googleapis.com/css?family=Oxygen:300', rel='stylesheet', type='text/css")
    meta(charset="utf-8")
    style
      include style.css
  body
    h1 Top 15 Crimes in Seattle Today by Category
    .ct-chart
    script.
      new Chartist.Bar('.ct-chart', {
      labels: [#{clearance_group}],
      series: [#{number_of_calls}]
      }, {
      distributeSeries: true
      });
    p= clearance_group
    p= number_of_calls