doctype html
html(lang="en")
  head
    title= 'Crimes in Seattle Today'
    script(src="http://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js")
    link(href="http://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css", rel="stylesheet", type="text/css")
    link(href="http://fonts.googleapis.com/css?family=Oxygen:300', rel='stylesheet', type='text/css")
    meta(charset="utf-8")
    style
      include style.css
  body
    h1 Crimes in Seattle Today by Category
    .ct-chart
    script.
      new Chartist.Bar('.ct-chart', {
      labels: [#{clearance_group}],
      series: [#{number_of_calls}]
      }, {
      distributeSeries: true
      });
    p= clearance_group
    p= number_of_calls

    p I'm not sure why this is breaking in the middle. I will have to figure it out later. I think it has something to do with the colors running out in the original CSS files. I don't think Chartist was ready for this many groups. There were 15 colors in the original CSS file and 15 names of the serioes. This is exactly where it is breaking on screen. As to why the colors start back up at the end of the chart I don't know. 